USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procDeleteUser]    Script Date: 26-02-2025 07:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************          
REVISION 	DATE     		EMAIL							DESCRIPTION          
-------- 	----       		-----     						-----------          
1.0  		17-Aug-2023		Rahul Kumar 					Created

****************************************************************************/

ALTER Proc [dbo].[procDeleteUser]
(
	@Id uniqueidentifier
)
As
Begin
	Declare   @IsValid bit=0, @Message nvarchar(50)='Some error occured'

	Delete From  AspNetUsers
	Where		 Id=@Id

	If(@@ROWCOUNT>0)
	Select	 @IsValid=1  ,	 @Message='User has been successfully removed'
		
	Select @IsValid IsValid ,@Message Message
End