USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procGetAspNetUsers]    Script Date: 26-02-2025 07:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
=============================================
Date			 Name			Change
*********************************************
17-Aug-2023		Rahul kumar		Create
*********************************************
*/
--exec [procGetAspNetUsers_20230817] '','','','',1 ,10

ALTER Procedure [dbo].[procGetAspNetUsers]
  @FirstName nvarchar(20),
  @LastName nvarchar(20),
  @UserName nvarchar(50),
  @RoleName nvarchar(20),
  @CurrentPage int=1,  
  @PageSize int
As
	Begin

		   ;with UserList as 
		   (  Select     U.Id as [UserId],[FirstName] , [LastName], [UserName],Email,[RoleName],RoleId , Created, CreatedBy
			  From       AspNetUsers U 
			  left join  AspNetUserRoles R on U.Id = R.UserId 
			  left join  AspNetRoles Roles on R.RoleId = Roles.Id
			  Where      FirstName Like '%'+Isnull(@FirstName,'')+'%' and
                         LastName Like '%'+Isnull(@LastName,'')+'%' and
                         UserName Like '%'+isnull(@UserName,'')+'%' and
                         RoleName  Like '%'+isnull(@RoleName,'')+'%'
				           
		   ),  TotalRecord AS (  
			  SELECT    COUNT(1) AS TotalRecord FROM UserList  )  

			  Select    UserId ,[FirstName] , [LastName], [UserName],Email,[RoleName],RoleId, T.TotalRecord ,@CurrentPage 'CurrentPage',@PageSize 'PageSize'
			  From      UserList U ,TotalRecord T
			  order by  U.Created desc
					    OFFSET (@CurrentPage-1)* COALESCE(@PageSize, 1) ROWS  /* for pagination */  
					    FETCH NEXT COALESCE(@PageSize, 2000)  ROWS ONLY   /* for pagination */
	             
	END

	select * from AspNetUsers