USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procGetStudents]    Script Date: 26-02-2025 07:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[procGetStudents_20250216] ******/
/* 
=============================================
Date           Name            Change
*********************************************
16-Feb-2025    Rahul Kumar     Created
*********************************************
*/

ALTER PROCEDURE [dbo].[procGetStudents]
    @FirstName NVARCHAR(255) = NULL,
    @LastName NVARCHAR(255) = NULL,
    @Email NVARCHAR(255) = NULL,
    @PhoneNo NVARCHAR(10) = NULL,
    @CurrentPage INT = 1,  
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    -- Common Table Expression (CTE) for filtering students
    ;WITH StudentList AS 
    (  
        SELECT 
            S.Id AS StudentId, 
            S.FirstName FName, 
            S.LastName LName, 
            S.Email, 
            S.PhoneNo phone, 
            S.Address, 
            S.DateOfBirth, 
            S.Created, 
            S.CreatedBy, 
            S.LastUpdated, 
            S.LastUpdatedBy
        FROM 
            Student S
        WHERE 
            (S.FirstName LIKE '%' + ISNULL(@FirstName, '') + '%') AND
            (S.LastName LIKE '%' + ISNULL(@LastName, '') + '%') AND
            (S.Email LIKE '%' + ISNULL(@Email, '') + '%') AND
            (S.PhoneNo LIKE '%' + ISNULL(@PhoneNo, '') + '%')
    ),  
    TotalRecord AS (  
        SELECT COUNT(1) AS TotalRecord FROM StudentList  
    )  

    -- Fetch paginated results
    SELECT 
        S.*,
        T.TotalRecord,
        @CurrentPage AS CurrentPage,
        @PageSize AS PageSize
    FROM 
        StudentList S, 
        TotalRecord T
    ORDER BY 
        S.Created DESC
    OFFSET (@CurrentPage - 1) * COALESCE(@PageSize, 1) ROWS  
    FETCH NEXT COALESCE(@PageSize, 100) ROWS ONLY;  
END
