USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procGetAllInstitutes]    Script Date: 26-02-2025 07:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************          
REVISION 	DATE     		EMAIL							DESCRIPTION          
-------- 	----       		-----     						-----------          
1.0  		17-Aug-2023		Rahul Kumar 					Created

****************************************************************************/
--  exec  procGetAllInstitutes  ''
ALTER Proc [dbo].[procGetAllInstitutes]
(
	@Name nvarchar(500)
)
As
Begin
	select	Name, InstituteType 
	from	Institute
	where  name like '@name%' or ISNULL(@Name, '') = '' 
End