USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procUpdateUserInfo]    Script Date: 26-02-2025 08:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
=============================================
Date			 Name			Change
*********************************************
17-Aug-2023		Rahul kumar		Create
*********************************************

Create [procUpdateUserInfo_20230817] 'fef56a71-2faa-4c16-a47d-869b39e698d7' , 'Tanmay' ,'Anand' ,'tanmay@gmail.com' ,'User' ,'rahulsingh@gmail.com'
*/

ALTER Procedure [dbo].[procUpdateUserInfo]
	@UserId nvarchar(50),
	@FirstName nvarchar(20),
	@LastName nvarchar(20),
    @Email nvarchar(55),
	@RoleName nvarchar(50),
	@LastUpdaedBy nvarchar(55)
As
   Begin
		 Declare  @IsValid bit = 0, @Message nvarchar(100)='Some error occured';
		
		 Update   AspNetUsers 
		 Set	  Email = @Email,FirstName=@FirstName,LastName=@LastName,RoleName=@RoleName,UserName=@Email,NormalizedEmail=UPPER(@Email),NormalizedUserName=UPPER(@Email), LastUpdated= GETUTCDATE() , LastUpdatedBy=@LastUpdaedBy
		 Where	  Id = @UserId  

		 update	AspNetUserRoles 
		 set		RoleId =  (select Id from AspNetRoles where AspNetRoles.Name = @RoleName)
		 Where	UserId = @UserId	
		
		 If(@@ROWCOUNT>0)
			select  @Isvalid=1,  @Message='User has been successfully updated'
		
         Select @Isvalid IsValid, @Message Message
   End