USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procInsertInstitute]    Script Date: 26-02-2025 08:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[procInsertInstitute]
    @Name NVARCHAR(255),
    @InstituteType INT,
    @Address NVARCHAR(MAX),
    @MobileNumber NVARCHAR(15),
    @WebsiteUrl NVARCHAR(500),
    @Email NVARCHAR(255),
    @EstablishedYear DATE,
    @CreatedBy NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
	declare @Isvalid bit = 0
    INSERT INTO Institute (Name, InstituteType, Address, MobileNumber, WebsiteUrl, Email, EstablishedYear, Created, CreatedBy, LastUpdated, LastUpdatedBy)
    VALUES (@Name, @InstituteType, @Address, @MobileNumber, @WebsiteUrl, @Email, @EstablishedYear, GETUTCDATE(), @CreatedBy, GETUTCDATE(), @CreatedBy);
    
    -- Return the newly inserted Institute ID
    select @Isvalid = 1
END;
