USE [onlineAdmissionPortal]
GO
/****** Object:  StoredProcedure [dbo].[procInsertStudent_20250216]    Script Date: 26-02-2025 08:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[procInsertStudent_20250216] ******/
/* 
=============================================
Date           Name            Change
*********************************************
16-Feb-2025    [Your Name]     Created
*********************************************
*/

ALTER PROCEDURE [dbo].[procInsertStudent_20250216]
    @FirstName NVARCHAR(255),
    @LastName NVARCHAR(255),
    @Email NVARCHAR(255),
    @PhoneNo NVARCHAR(10),
    @Address NVARCHAR(MAX),
    @DateOfBirth DATETIME,
    @CreatedBy NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert new student record
    INSERT INTO Student 
    (
        Id, 
        FirstName, 
        LastName, 
        Email, 
        PhoneNo, 
        Address, 
        DateOfBirth, 
        Created, 
        CreatedBy, 
        LastUpdated, 
        LastUpdatedBy
    )
    VALUES 
    (
        NEWID(), -- Generating a unique identifier for the student
        @FirstName, 
        @LastName, 
        @Email, 
        @PhoneNo, 
        @Address, 
        @DateOfBirth, 
        GETUTCDATE(), -- Setting Created timestamp to UTC
        @CreatedBy, 
        GETUTCDATE(), -- Setting LastUpdated timestamp to UTC
        @CreatedBy
    );

END
