@using static Entity.Enums.Enum
@model IEnumerable<OnlineAdmissionPortal.Models.UserModel>
@inject IConfiguration _config

<div ng-controller="userCtrl">
    <div class="container my-4">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-primary fw-bold"><i class="fa-solid fa-users me-2"></i>Users</h2>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary shadow-sm">
                <i class="fa-solid fa-user-plus me-1"></i> Add User
            </a>
        </div>
    
        <!-- Filters -->
        <div class="card p-4 mb-4 shadow-sm">
            <form class="row g-3" ng-submit="userFilter.currentPage=1;getUsers(userFilter)">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="First Name" ng-model="userFilter.FirstName" ng-keyup="userFilter.currentPage=1;getUsers(userFilter)">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
                        <input type="text" class="form-control" placeholder="User Name" ng-model="userFilter.UserName" ng-keyup="userFilter.currentPage=1;getUsers(userFilter)">
                    </div>
                </div>
                <div class="col-md-3">
                    <select ng-model="userFilter.RoleName" class="form-select" ng-change="userFilter.currentPage=1;getUsers(userFilter)">
                        <option value="" disabled selected hidden>Select Role</option>
                        @foreach (var item in Html.GetEnumSelectList<Role>())
                        {
                            <option value="@item.Text.ToString()">@item.Text.ToString()</option>
                        }
                    </select>
                </div>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-primary me-2" ng-click="userFilter.currentPage=1;getUsers(userFilter)">
                        <i class="fa-solid fa-search"></i> Search
                    </button>
                    <button type="button" class="btn btn-outline-danger" ng-click="userFilter.currentPage=1;clearFilter(userFilter)">
                        <i class="fa-solid fa-xmark"></i> Clear
                    </button>
                </div>
            </form>
        </div>
    
        <!-- Users Listing -->
        <div class="card p-4 shadow-sm">
            <h3 class="text-center mb-3 fw-bold">User Information</h3>
            <table class="table table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in userList track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.roleName}}</td>
                        <td>
                            <button class="btn btn-outline-info btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editMember" ng-click="userEdit(user)">
                                <i class="fa fa-edit"></i> Edit
                            </button>
                            <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteMember" ng-click="userDelete(user)">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="!userList || userList.length === 0">
                        <td colspan="6" class="text-center text-muted">No users found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <!-- Pagination -->
        <div class="mt-4 d-flex justify-content-center">
            <div paging page="page" page-size="pageSize" total="total" text-next="Next" text-prev="Prev" show-prev-next="true" show-first-last="false" paging-action="userFilter.currentPage=page;userFilter.pageSize=pageSize;getUsers(userFilter);">
            </div>
        </div>
    </div>
    
    <!-- Update User Modal -->
    <div class="modal fade" id="editMember" tabindex="-1" aria-labelledby="editMemberLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form ng-submit="updateUser(userDetails)">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input ng-model="userDetails.firstName" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input ng-model="userDetails.lastName" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Role</label>
                            <select class="form-select" ng-model="userDetails.roleName" required>
                                <option value="" disabled>Select Role</option>
                                @foreach (var item in Html.GetEnumSelectList<Role>())
                                {
                                    <option value="@item.Text">@item.Text</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Delete User Modal -->
    <div class="modal fade" id="deleteMember" tabindex="-1" aria-labelledby="deleteMemberLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong ng-bind="resUser.firstName + ' ' + resUser.lastName"></strong>?</p>
                    <p class="text-danger">This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteUser(resUser.userId)" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
