@model OnlineAdmissionPortal.Models.InstituteModel
@using static Entity.Enums.Enum

@{
    ViewData["Title"] = "Register Institute";
}

<h1>Register Institute</h1>

<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="RegisterInstitute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <table class="table">
                <tbody>
                    <tr>
                        <td><label asp-for="Name" class="control-label"></label></td>
                        <td>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="InstituteType" class="control-label"></label></td>
                        <td>
                            <select asp-for="InstituteType" class="form-control">
                                <option value="" disabled selected hidden>Select Type</option>
                                @foreach (var item in Html.GetEnumSelectList<InstituteType>())
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <span asp-validation-for="InstituteType" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Address" class="control-label"></label></td>
                        <td>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="MobileNumber" class="control-label"></label></td>
                        <td>
                            <input asp-for="MobileNumber" class="form-control" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="WebsiteUrl" class="control-label"></label></td>
                        <td>
                            <input asp-for="WebsiteUrl" class="form-control" />
                            <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Email" class="control-label"></label></td>
                        <td>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="EstablishedYear" class="control-label"></label></td>
                        <td>
                            <input asp-for="EstablishedYear" type="date" class="form-control" />
                            <span asp-validation-for="EstablishedYear" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group text-center">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
